<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <title>The <code>change</code> event</title>
  <script src="https://cdn.ckeditor.com/4.20.1/standard-all/ckeditor.js"></script>
</head>

<body>
  <textarea cols="80" id="editor2" name="editor2" rows="10"></textarea>
  <div id="content2" style="display: none">
    <p>The number of <code>change</code> events: <strong><span id="changes"></span></strong>.</p>
    <h3>Mirrored Content</h3>
    <!-- This <div> will be used to display the editor content. -->
    <div id="editorcontent2">
    </div>
  </div>
  <script>
    (function() {
      var changesCount = 0;
      var editor2 = CKEDITOR.replace('editor2', {
        removePlugins: 'sourcearea',
        removeButtons: 'PasteFromWord'

      });
      editor2.on('change', function(ev) {
        changesCount++;
        document.getElementById('content2').style.display = '';
        document.getElementById('changes').innerHTML = changesCount.toString();
        document.getElementById('editorcontent2').innerHTML = editor2.getData();
      });
    })();
  </script>
   <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

</body>

</html>